{% load static %}

<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.shuffle.min.js' %}"></script>
<script src="{% static 'assets/js/lightslider.js' %}"></script>
<script src="{% static 'assets/js/slick.js' %}"></script>
<script src="{% static 'assets/js/lightcase.js' %}"></script>
<script src="{% static 'assets/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'assets/js/extensions/revolution.extension.video.min.js' %}"></script>
<script src="{% static 'assets/js/theme.js' %}"></script>