{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Title }}</title>
    {% include 'shared/_HeaderReferences.html' %}
</head>
<body>
<div class="preloader text-center">
    <div class="la-ball-scale-multiple la-2x">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<header class="header01 centerMenu isSticky">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="navBar01">
                    <div class="logo"><a href="index2.html"><img src="{% static 'assets/images/logo-no.png' %}"
                                                                 alt="nojavaneshahr.ir"></a></div>
                    <a href="javascript:void(0)" class="menu_btn"><i class="twi-bars2"></i></a>
                    <nav class="mainMenu">
                        <ul>
                            <li><a href="javascript:void(0);">صفحه اصلی</a></li>
                            <li><a href="blog5.html">وبلاگ</a></li>
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="contact.html">تماس با ما</a></li>
                            <li><a href="gallery.html">آلبوم عکس</a></li>

                        </ul>
                    </nav>
                    <div class="accessNav"><a class="phoneBtn" href="tel:+984569871">0214569871 <i
                            class="dgita-telephone-call"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</header>

{% block content %}



{% endblock %}
<footer class="footer_01 white">
    <div class="SecLayerimg move_anim"><img src="{% static 'assets/images/bg/s17.png' %}" alt=""></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ctaMail">
                    <h2>ثبت نام در خبرنامه ما</h2>
                    <p>قبلا عضو شده است <a href="contact.html">ورود</a></p>
                    <form action="#" method="post">
                        <div class="mc4wp-form-fields"><i class="twi-envelope1"></i><input type="email" name="EMAIL"
                                                                                           placeholder="آدرس ایمیل خود را وارد کنید">
                            <button type="submit"><i
                                    class="twi-angle-right1"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-3">
                <div class="widget">
                    <div class="aboutWidget"><a href="index.html"><img src="{% static 'assets/images/logo-no.png' %}"
                                                                       alt=""/></a>
                        <p>1864 Lancaster Court Road Poughkeepsie, CA 12601</p>
                        <h4>خبرنامه</h4>
                        <form action="#" method="post">
                            <div class="mc4wp-form-fields"><input type="email" name="EMAIL"
                                                                  placeholder="آدرس ایمیل">
                                <button type="submit"><i
                                        class="dgita-arrow"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 offset-xl-1 col-lg-3 ">
                <div class="widget">
                    <h3 class="widget_title">درباره شرکت</h3>
                    <ul>
                        <li><a href="about.html">در باره</a></li>
                        <li><a href="team.html">عضو تیم</a></li>
                        <li><a href="folio1.html">نمونه کارها ما</a></li>
                        <li><a href="blog1.html">اخبار</a></li>
                        <li><a href="company.html">تاریخچه شرکت</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-2">
                <div class="widget">
                    <h3 class="widget_title">آدرس ما</h3>
                    <iframe title="map-iframe"
                            src="https://neshan.org/maps/iframe/places/7cadf343a1b29a24359d952e4d16d41e#c35.691-51.460-15z-0p/35.69090323812047/51.45517989609937"
                            width="450" height="450" allowFullScreen loading="lazy"></iframe>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>کلیه حقوق مادی و معنوی متعلق به شهرداری ناحیه 13 تهران بوده @1403</p>
                    <ul><a href="#">طراحی و توسعه HAMKA</a></ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="javascript:void(0);" id="backtotop"><i class="twi-arrow-to-top1"></i></a>
</body>
{% include 'shared/_FooterReferences.html' %}
</html>