{% extends 'shared/_MainLayOut.html' %}
{% load static %}
{% block content %}
    <section class="pageBanner blog_details_banner"
             style="background-image: url({% static 'assets/images/bg/banner.png' %});">
        <div class="vmiddle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="postAuthor">
                            <p></p><span>تاریخ انتشار: {{ blog.date.date }}</span>
                        </div>
                        <h2 class="banner-title">{{ blog.title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="singleBlog">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="sic_the_content clearfix">
                        {{ blog.text|safe }}
                    </div>

                    <div class="postPagination">
                        <div class="row">
                            <div class="col-md-6">
                                {% if previous %}
                                    <a class="prev" href="{% url 'blogs-detail' previous.id %}"><i
                                            class="twi-chevron-left2"></i><span>پست قبلی</span>{{ previous.title }}</a>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                {% if next %}
                                    <a class="next" href="{% url 'blogs-detail' next.id %}"><i
                                            class="twi-chevron-right2"></i><span>پست بعدی</span>{{ next.title }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="comment_area">
                        <div class="sic_comments">
                            {% for comment in comments %}
                                <h3 class="sicc_title">{{ comments.count }} نظر</h3>
                                <ol class="sicc_list">
                                    <li>
                                        <article class="single_comment clearfix "><img
                                                src="{% static 'assets/images/blog/c1.jpg' %}"
                                                alt="Amy Burton">
                                            <h4 class="cm_author"><a href="javascript:void(0);">{{ comment.name }}</a>
                                            </h4><span
                                                    class="cm_date">{{ comment.date }}</span>
                                            <div class="sc_content">
                                                <p>{{ comment.text }}</p>
                                            </div>
                                        </article>
                                        {% if comment.admin_reply %}
                                            <ol class="children">
                                                <li>
                                                    <article class="single_comment clearfix ">
                                                        <h4 class="cm_author"><a href="javascript:void(0);">ادمین</a>
                                                        </h4>
                                                        <span class="cm_date">{{ comment.reply_date }}</span>
                                                        <div class="sc_content">
                                                            <p>{{ comment.admin_reply }}</p>
                                                        </div>
                                                    </article>
                                                </li>
                                            </ol>
                                        {% endif %}
                                    </li>
                                </ol>
                            {% empty %}
                                <h3 class="sicc_title">هیچ نظری برای این پست ثبت نگردیده.</h3>
                            {% endfor %}
                        </div>
                        <div class="commentForm">
                            <h3 class="sicc_title">پیام بگذارید</h3>
                            <form action="{% url 'blogs-detail' blog.id %}" method="post" class="row">
                                {% csrf_token %}
                                <div class="col-md-6">{{ comment_form.name }}</div>
                                <div class="col-md-6">{{ comment_form.email }}</div>
                                <div class="col-md-12">{{ comment_form.text }}</div>
                                <div class="col-md-8">
                                    <p class="comment-form-cookies-consent">
                                        <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent"
                                               type="checkbox" value="yes"><label
                                            for="wp-comment-cookies-consent">من موافقت می کنم که داده های ارسالی من جمع
                                        آوری و ذخیره می شود.*</label></p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button class="dgBtn" type="submit">پیام
                                        بگذارید
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </section>

{% endblock %}