{% extends 'shared/_MainLayOut.html' %}
{% load static %}


{% block content %}
    <section class="blogPage02">
        <div class="SecLayerimg move_anim"><img src="{% static 'assets/images/bg/s33.png' %}" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="sidebar lsb">
                        <div class="widget widget_categories">
                            <h3 class="widget_title">دسته بندی ها</h3>
                            <ul>
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'blog_list_by_category' category.id %}">{{ category.title }}</a>
                                        ({{ category.blogs.all.count }})
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <aside class="widget">
                        </aside>
                        <div class="widget">
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="row">
                        {% for blog in blogs %}
                            <div class="col-md-6">
                                <div class="blogItem02"><img src="{{ blog.image.url }}" alt=""/>
                                    <a href="{% url 'blogs-detail' blog.id %}">{{ blog.title }}</a>
                                    <div class="blogContent">
                                        <div class="bpmeta">
                                            <a href="{% url 'blogs-detail' blog.id %}">{{ blog.date.date }}</a>
                                            <a href="{% url 'blogs-detail' blog.id %}">02 نظر</a>
                                        </div>
                                        <h3>
                                            <a href="{% url 'blogs-detail' blog.id %}">{{ blog.description }}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <!-- صفحه‌بندی -->
                            {% if page_obj.has_other_pages %}
                                <div class="pagination">
                                    {% if page_obj.has_previous %}
                                        <a href="?page=1&status={{ request.GET.status }}" class="page-link prev">«</a>
                                        <a href="?page={{ page_obj.previous_page_number }}&status={{ request.GET.status }}"
                                           class="page-link prev">قبلی</a>
                                    {% endif %}

                                    <div class="page-numbers">
                                        <span class="active">{{ page_obj.number }}</span>
                                    </div>

                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}&status={{ request.GET.status }}"
                                           class="page-link next">بعدی</a>
                                        <a href="?page={{ page_obj.paginator.num_pages }}&status={{ request.GET.status }}"
                                           class="page-link next">»</a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}