{% extends 'shared/_MainLayOut.html' %}
{% load static %}

{% block content %}
    <section class="pageBanner" style="background-image: url({% static 'assets/images/bg/banner.png' %});">
        <div class="vmiddle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <h2 class="banner-title">با ما تماس بگیرید</h2>
                        <p class="banner-desc">تیم همه کاره ما متشکل از طراحان، توسعه دهندگان و بازاریابان دیجیتال است
                            که همگی تجربه منحصر به فردی را به ارمغان می آورند</p>
                    </div>
                </div>
            </div>
        </div>

        </div>

    </section>
    <section>
        <div class="container">
            <div class="row">
                <iframe title="map-iframe"
                        src="https://neshan.org/maps/iframe/places/7cadf343a1b29a24359d952e4d16d41e#c35.690-51.457-16z-0p/35.69090323812047/51.45517989609937"
                        width="1200" height="550" allowFullScreen loading="lazy"></iframe>
            </div>
        </div>
    </section>
    <section class="contactPage">
        <div class="SecLayerimg move_anim"><img src="{% static 'assets/images/bg/s34.png' %}" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="conFormWrapper">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>در تماس باشید!</h2>
                                <p>لورم ایوم متن ساختگی با تولید راحت نامفهوم از صنعت چ<br>لورم ایپسوم متن ساختگی با ت
                                </p>
                                <div class="contact_form">

                                    <form action="{% url 'contact' %}" method="post" class="row" id="contact_form">
                                        {% csrf_token %}

                                        <div class="col-md-6">
                                            <label class="form-label">{{ form.name.label }}</label>
                                            {{ form.name }}
                                            <small class="text-danger">{{ form.name.errors }}</small>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">{{ form.email.label }}</label>
                                            {{ form.email }}
                                            <small class="text-danger">{{ form.email.errors }}</small>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">{{ form.phone.label }}</label>
                                            {{ form.phone }}
                                            <small class="text-danger">{{ form.phone.errors }}</small>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">{{ form.subject.label }}</label>
                                            {{ form.subject }}
                                            <small class="text-danger">{{ form.subject.errors }}</small>
                                        </div>

                                        <div class="col-md-12">
                                            <label class="form-label">{{ form.message.label }}</label>
                                            {{ form.message }}
                                            <small class="text-danger">{{ form.message.errors }}</small>
                                        </div>

                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary">ارسال پیام</button>
                                        </div>

                                        <div class="message">
                                            {% if message %}
                                                <strong class="text-success">{{ message }}</strong>
                                            {% endif %}
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="col-md-5">
                                <h3>در صورت تمایل سوالات خود را بپرسید یا نظرات خود را با ما در میان بگذارید.</h3>
                                <div class="contactInfo"><img src="{% static 'assets/images/c1.png' %}" alt=""/>
                                    <h4>تلفن</h4>
                                    <p>تماس بگیرید: +8801682648101<br>فکس : 02 9292162</p>
                                </div>
                                <div class="contactInfo"><img src="{% static 'assets/images/c2.png' %}" alt=""/>
                                    <h4>نشانی</h4>
                                    <p>تهران، پیروزی، نرسیده به محوی، صنایع جنگ افزارسازی وزارت دفاع (محله‌ی صفا)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}