{% extends 'shared/_MainLayOut.html' %}
{% load static %}

{% block content %}
    <section class="heroBanner02">
        <div class="layer_img blinker_anim animated"><img src="{% static 'assets/images/home2/2.png' %}" alt=""></div>
        <div class="bMiddle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="bannerContent02">
                            <div class="sub-title animated">شهروند متعالی</div>
                            <h2 class="animated">غرس 2000 نهال </h2>
                            <p class="animated">توسط دانش آموزان و شهرداران مدارس شهر تهران</p><a class="dgBtn animated"
                                                                                                  href="contact.html">شروع
                            کنید</a>
                        </div>
                    </div>
                    <div class="col-lg-6 animated pnl">
                        <div class="bLayer move_anim"><img src="{% static 'assets/images/home2/789.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="serviceSection03">
        <div class="SecLayerimg move_anim2"><img src="{% static 'assets/images/bg/s10.png' %}" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="serviceItem03 text-center">
                        <h3><a href="single-service.html">کاشت 1500 نهال</a></h3>
                        <p>کاشت 1500 غرس نهال ، توسط شهرداری منطقه 13 تهران بزرگ</p><i class="dgita-coding"></i>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="serviceItem03 it32 text-center">
                        <h3><a href="single-service.html">تعامل با شهرداری منطقه 13</a></h3>
                        <p>روابط ایجاد کنید و ارزش های شرکت خود را با محتوای خوب ساخته شده متناسب با برند شما به اشتراک
                            بگذارید</p><i class="dgita-rocket"></i>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="serviceItem03 it33 text-center">
                        <h3><a href="single-service.html">با ما در ارتباط باشید</a></h3>
                        <p>روابط ایجاد کنید و ارزش های شرکت خود را با محتوای خوب ساخته شده متناسب با برند شما به اشتراک
                            بگذارید</p><i class="dgita-translation"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonailSection02">
        <div class="SecLayerimg move_anim"><img src="{% static 'assets/images/bg/s15.png' %}" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonialSlider02 owl-carousel">
                        <div class="testimonialItem02">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="tsAuthor"><img
                                            src="{% static 'assets/images/home2/744470894-talab-org.jpg' %}" alt=""><i
                                            class="dgita-quote"></i></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="tsContent02">
                                        <div class="twIcon"><i class="dgita-quote"></i></div>
                                        <p>خوشحالم که درخت سیبمو کاشتم و ی یادگاری از من باقی میمونه ، و همچنین به بهتر
                                            شدن هوای شهرم هم میتونم کمک کنم</p>
                                        <p>خوشحالم که درخت سیبمو کاشتم و ی یادگاری از من باقی میمونه ، و همچنین به بهتر
                                            شدن هوای شهرم هم میتونم کمک کنم</p>

                                        <h5> علیرضا مرادی</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonialItem02">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="tsAuthor"><img
                                            src="{% static 'assets/images/home2/derakht-700x675.jpg' %}" alt=""><i
                                            class="dgita-quote"></i></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="tsContent02">
                                        <div class="twIcon"><i class="dgita-quote"></i></div>
                                        <p>خوشحالم که درخت سیبمو کاشتم و ی یادگاری از من باقی میمونه ، و همچنین به بهتر
                                            شدن هوای شهرم هم میتونم کمک کنم</p>
                                        <p>خوشحالم که درخت سیبمو کاشتم و ی یادگاری از من باقی میمونه ، و همچنین به بهتر
                                            شدن هوای شهرم هم میتونم کمک کنم</p>

                                        <h5>آرزو صمدی</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}