{% extends 'shared/_MainLayOut.html' %}
{% load static %}

{% block content %}

    <br>
    <br>
    <br>
    <br>
    <section class="aboutSection02">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="{% static 'assets/images/home2/regiss.png' %}" class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form action="{% url 'register' %}" method="post">
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <p class="lead fw-normal mb-0 me-3">ثبت نام</p>
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            {{ form.first_name.label }}
                            {{ form.first_name }}
                        </div>
                        <div class="form-outline mb-4">
                            {{ form.last_name.label }}
                            {{ form.last_name }}
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            {{ form.password.label }}
                            {{ form.password }}
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            {{ form.phone.label }}
                            {{ form.phone }}
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            {{ form.birthday.label }}
                            {{ form.birthday }}
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            {{ form.meli_code.label }}
                            {{ form.meli_code }}
                        </div>
                        <div class="form-outline mb-4">
                            {{ form.stage.label }}
                            {{ form.stage }}
                        </div>
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            {{ form.school.label }}
                            {{ form.school }}
                        </div>
                        <div class="form-outline mb-4">
                            {{ form.zone.label }}
                            {{ form.zone }}
                        </div>


                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="button" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">ثبت نام
                            </button>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}