{% extends 'shared/_MainLayOut.html' %}
{% load static %}

{% block content %}

    <br>
    <br>
    <br>
    <br>

    <section class="aboutSection02">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="{% static 'assets/images/home2/regiss.png' %}" class="img-fluid" alt="Sample image">
                </div>
                <div class="formbold-main-wrapper">
                    <!-- Author: FormBold Team -->
                    <!-- Learn More: https://formbold.com -->
                    <form action="" method="post">
                        <div class="formbold-form-wrapper">
                            <img src="{% static 'assets/images/home2/789.png' %}" style="width: 150px; height:150px; ">
                            <div class="formbold-input-wrapp formbold-mb-3">
                                <label for="firstname" class="formbold-form-label">مشخصات خود را وارد کنید </label>

                                <div class="form-foni">
                                    {{ form.first_name }}

                                    {{ form.last_name }}
                                </div>
                            </div>
                            <br>
                            <div class="formbold-input-wrapp formbold-mb-3">
                                <div>
                                    {{ form.phone }}


                                    {{ form.birthday }}
                                </div>
                            </div>
                            <br>


                            <div class="formbold-input-wrapp formbold-mb-3">
                                <div>
                                    {{ form.stage }}

                                    {{ form.meli_code }}
                                </div>
                            </div>
                            <br>
                            <div class="formbold-input-wrapp formbold-mb-3">
                                <div>
                                    {{ form.zone }}

                                    {{ form.school }}
                                </div>
                            </div>

                            {#                        <div class="formbold-mb-3 formbold-input-wrapp">#}
                            {#                            <label for="address" class="formbold-form-label form-foni">#}
                            {#                                شماره تماس </label>#}
                            {##}
                            {#                            <div>#}
                            {#                                <input type="text" name="phone" id="phone"#}
                            {#                                       placeholder="شماره موبایل خود را وارد نمایید "#}
                            {#                                       class="formbold-form-input"/>#}
                            {#                            </div>#}
                            {#                        </div>#}
                            {#                        <div class="formbold-mb-3">#}
                            {#                            <label for="upload" class="formbold-form-label form-foni">#}
                            {#                                بارگذاری عکس#}
                            {#                            </label>#}
                            {#                            <input type="file" name="upload" id="upload"#}
                            {#                                   class="formbold-form-input formbold-form-file"/>#}
                            {#                        </div>#}
                            <br>
                            <div class="formbold-checkbox-wrapper">
                                <label for="supportCheckbox" class="formbold-checkbox-label">
                                    <div class="formbold-relative">
                                        <input type="checkbox" id="supportCheckbox" class="formbold-input-checkbox"/>
                                        <div class="formbold-checkbox-inner">
                                            <span class="formbold-opacity-0">
                                                <svg width="11" height="8" viewBox="0 0 11 8"
                                                     class="formbold-stroke-current" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                            d="M8.81868 0.688604L4.16688 5.4878L2.05598 3.29507C1.70417 2.92271 1.1569 2.96409 0.805082 3.29507C0.453266 3.66742 0.492357 4.24663 0.805082 4.61898L3.30689 7.18407C3.54143 7.43231 3.85416 7.55642 4.16688 7.55642C4.47961 7.55642 4.79233 7.43231 5.02688 7.18407L10.0696 2.05389C10.4214 1.68154 10.4214 1.10233 10.0696 0.729976C9.71776 0.357624 9.17049 0.357625 8.81868 0.688604Z"
                                                            fill="white"/>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    قوانین و مقررات سایت را مطالعه و قبول میکنم
                                </label>
                            </div>

                            <button type="submit" class="formbold-btn">ثبت نام</button>
                            {#                        <button class="formbold-btn">قبلا ثبت نام کرده ام . ورود</button>#}

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



{% endblock %}