<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>داشبورد</title>
</head>
<body>
{% for tree in trees %}
    {% if tree.images.first.is_active %}
        <a href="{% url 'tree-detail' qr_id=tree.unique_id %}"> <img src="{{ tree.images.first.image.url }}"
                                                                     height="200" width="200"></a>
    {% else %}
        <a href="{% url 'tree-detail' qr_id=tree.unique_id %}"> <img src="{{ tree.qr_image.url }}" height="200"
                                                                     width="200"></a>
    {% endif %}
{% endfor %}
</body>
</html>