{% extends 'shared/_MainLayOut.html' %}
{% load static %}

{% block content %}

    <section class="pageBanner" style="background-image: url({% static 'assets/images/bg/banner.png' %});">
        <div class="vmiddle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <h2 class="banner-title">درباره ما</h2>
                        <p class="banner-desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                            شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                            کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا
                            با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو
                            در زبان فارسی ایجاد کرد.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="aboutSection02">
        <div class="SecLayerimg move_anim"><img src="{% static 'assets/images/bg/s11.png' %}" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="abImg2 clearfix"><img src="{% static 'assets/images/home2/3.png' %}" alt=""/></div>
                </div>
                <div class="col-lg-6">
                    <div class="subTitle">درباره شهرداری منطقه 13</div>
                    <h2 class="secTitle">ما به سلامت خانواده و طبیعت پیرامونمون اهمیت میدیم</h2>
                    <p class="secDesc"><br>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                        طراحان گرافیک است.</p>
                    <p class="secDesc2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در
                        شصت </p>
                    <ul class="listItem">
                        <li><i class="dgita-check"></i>رشد فضای سبز منطقه</li>
                        <li><i class="dgita-check"></i>کمپین های مشارکت مردمی</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="tabSection01">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="dgitaTabWrapper">
                        <ul class="nav dgitaTab" id="dgitaTab" role="tablist">
                            <li role="presentation"><a class="active" data-toggle="tab" href="#ourvalue" role="tab"
                                                       aria-selected="true">ارزش های ما</a></li>
                            <li role="presentation"><a class="" data-toggle="tab" href="#ourmission" role="tab"
                                                       aria-selected="false">ماموریت ما</a></li>
                            <li role="presentation"><a class="" data-toggle="tab" href="#ourstory" role="tab"
                                                       aria-selected="false">داستان ما</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="ourvalue" role="tabpanel">
                                <div class="dgiTabContent"><span>ارزش های ما</span>
                                    <h4>از سال 2015، ما با خدمات دیجیتالی بی‌نظیر خود موج‌هایی را ایجاد کرده‌ایم</h4>
                                    <p>لورم ایوم متن ساختگی با تولید آسان نامفهوم از صنعت چاپ با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و در ستون و سطرآنان است که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هد.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ourmission" role="tabpanel">
                                <div class="dgiTabContent"><span>ماموریت ما</span>
                                    <h4>از سال 2015، ما با خدمات دیجیتالی بی‌نظیر خود موج‌هایی را ایجاد کرده‌ایم</h4>
                                    <p>لورم ایوم متن ساختگی با تولید آسان نامفهوم از صنعت چاپ با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و در ستون و سطرآنان است که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هد.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ourstory" role="tabpanel">
                                <div class="dgiTabContent"><span>داستان ما</span>
                                    <h4>از سال 2015، ما با خدمات دیجیتالی بی‌نظیر خود موج‌هایی را ایجاد کرده‌ایم</h4>
                                    <p>لورم ایوم متن ساختگی با تولید آسان نامفهوم از صنعت چاپ با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و در ستون و سطرآنان است که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هد.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="tabThumb"><img src="{% static 'assets/images/about/1.jpg' %}" alt=""></div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
