{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Title }}</title>
    {% include 'shared/_HeaderReferences.html' %}
</head>
<body>
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="preloader text-center">
    <div class="la-ball-scale-multiple la-2x">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<header dir="rtl">
    <section class="ftco-section">
        <div>
            <div class="banner"></div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <ul class="social-menu">
                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
                {% if "/dashboard/" in request.path %}
                {% else %}
                    <form action="#" class="searchform order-sm-start order-lg-last">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control pl-sm-1" placeholder="جستجو">
                            <button type="submit" placeholder="" class="form-control search"><span
                                    class="fa fa-search"></span></button>
                        </div>
                    </form>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span> Menu
                    </button>
                {% endif %}
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item "><a class="nav-link" href="{% url 'index' %}">صفحه اصلی</a></li>
                        <li class="nav-item "><a class="nav-link" href="{% url 'blogs' %}">وبلاگ</a></li>
                        <li class="nav-item "><a class="nav-link" href="{% url 'about' %}">درباره ما</a></li>
                        <li class="nav-item "><a class="nav-link" href="{% url 'contact' %}">تماس با ما</a></li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item "><a href="{% url 'dashboard' %}">داشبورد</a></li>
                            <li class="nav-item "><a href="{% url 'log-out' %}">خروج</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        <!-- END nav -->
    </section>
</header>
{% block content %}



{% endblock %}
<div>
    <!-- Footer -->
    <footer class="text-center text-lg-start text-black" style="background-color: #e8ffe8">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="tarti">
                        <div id="fooco1">
                            <h6 class="titfoo">
                                دربار ما </h6>
                            <p class="text-footer">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط
                                فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ت و سه درصد گذشته حال و آینده،
                                شها شناخت بیشترید و زمانقرار گیرد.
                            </p>
                            <a class="emailBtn" id="maili" href=mailto:info@nojavaneshahr.ir>
                                Email : info@nojavaneshahr.ir <i class="fas fa-envelope"></i>
                                <!-- استفاده از FontAwesome -->
                            </a>
                        </div>
                        <!-- Grid column -->
                        <div id="fooco2">
                            <h6 class="titfoo">دسترسی سریع</h6>
                            <p>
                                <a class="text-footer1">صفحه اصلی</a>
                            </p>
                            <p>
                                <a class="text-footer1">وبلاگ</a>
                            </p>
                            <p>
                                <a class="text-footer1">گالری درختان</a>
                            </p>
                            <p>
                                <a class="text-footer1">تماس با ما</a>
                            </p>
                        </div>

                        <!-- Grid column -->
                        <div id="fooco3">
                            <h6 class="titfoo">
                                گالری تصاویر </h6>
                            <div class="gallery">
                                {% for img in request.random_gallery %}
                                    <img src="{{ img.image.url }}" height="300" width="300">
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-3">

            <!-- Section: Copyright -->
            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">
                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <!-- Copyright -->
                        <div class="p-3">
                            © 2025 Copyright:
                            <a class="text-black" href="https://nojavaneshahr.ir/">nojavaneshahr.ir</a>

                        </div>
                        <!-- Copyright -->
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                        <!-- Facebook -->
                        <a class="btn btn-outline-light btn-floating m-1" class="text-black" role="button"><i
                                class="fab fa-facebook-f"></i></a>

                        <!-- Twitter -->
                        <a class="btn btn-outline-light btn-floating m-1" class="text-black" role="button"><i
                                class="fab fa-twitter"></i></a>

                        <!-- Google -->
                        <a class="btn btn-outline-light btn-floating m-1" class="text-black" role="button"><i
                                class="fab fa-google"></i></a>

                        <!-- Instagram -->
                        <a class="btn btn-outline-light btn-floating m-1" class="text-black" role="button"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                    <!-- Grid column -->
                </div>
            </section>
            <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
    </footer>
    <!-- Footer -->
</div>
<a href="javascript:void(0);" id="backtotop"><i class="twi-arrow-to-top1"></i></a>
</body>
{% include 'shared/_FooterReferences.html' %}
</html>