{% extends 'shared/_MainLayOut.html' %}
{% load static %}

{% block content %}
    <section>
        <div class="admin-panel">
            <!-- سایدبار -->
            {% include 'dashboard/_SideBar.html' %}
            <div id="tree-list" class="content active">
                <!-- لیست درخت‌ها -->
                <div id="tree-list" class="content active">
                    <h2>مدیریت تصاویر تأیید نشده </h2>
                    <!-- گالری درخت‌ها -->
                    <form method="POST" action="{% url 'approve-images' %}">
                        {% csrf_token %}
                        <div class="tree-gallery">
                            {% for tree in images %}
                                <div class="tree-item">
                                    <!-- تصویر درخت -->
                                    <img src="{{ tree.image.url }}" alt="{{ tree.title }}">

                                    <!-- اطلاعات درخت -->
                                    <div class="tree-info">
                                        <p><strong>شماره درخت:</strong> {{ tree.tree.id }}</p>
                                        <p><strong>مالک:</strong> {{ tree.tree.user }}</p>
                                        <p><strong>تایید:</strong>
                                            <input type="checkbox" name="approved_images" value="{{ tree.id }}">
                                        </p>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="col-12 d-flex justify-content-center">
                                    <p class="mx-auto alert alert-info text-center">هیچ عکس جدیدی بارگزاری نشده.</p>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="filter-btn active">
                            ارسال
                        </button>
                    </form>
                    <!-- صفحه‌بندی -->
                    {% if page_obj.has_other_pages %}
                        <div class="pagination">
                            {% if page_obj.has_previous %}
                                <a href="?page=1&status={{ request.GET.status }}" class="page-link prev">«</a>
                                <a href="?page={{ page_obj.previous_page_number }}&status={{ request.GET.status }}"
                                   class="page-link prev">قبلی</a>
                            {% endif %}

                            <div class="page-numbers">
                                <span class="active">{{ page_obj.number }}</span>
                            </div>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}&status={{ request.GET.status }}"
                                   class="page-link next">بعدی</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}&status={{ request.GET.status }}"
                                   class="page-link next">»</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

            </div>

        </div>
    </section>
{% endblock %}